{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block body_class %}template-suggest{% endblock %}

{% block content %}
    <h1>Suggest a flavour</h1>
    <h1>{{ page.title }}</h1>

    <p>What flavour of ice cream should we make next?</p>
    {{ page.intro | richtext }}
    <form method="POST" class="post-form" style="font-family: 'Roboto', sans-serif;font-size: 13px;color:#255388;">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>

{% endblock %}